# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database & Storage
*.sqlite3
*.db

# Environment variables
.env

# Testing & Coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp

# Docker / Logs
*.log
docker_data/
